<!--'update.html'-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>add company</title><!--'display.html'-->
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>TOOLS</h1>
				<ul>
					<li><a href="{{url_for('studentslist')}}">Students</a></li>
					<li><a href="{{url_for('allapplications')}}">Applications</a></li>
					<li><a href="{{url_for('interviews')}}">Interviews</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
					<li><a href="{{url_for('all_companies')}}">Companies</a></li>
					<li><a href="{{url_for('officer_jobs')}}">Jobs</a></li>
					<li><a href="{{url_for('addjob')}}">ADD Job</a></li>
					<li><a href="{{url_for('addcompany')}}">ADD company</a></li>
					<li><a href="{{url_for('addstudent')}}">ADD Student</a></li>
				</ul>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in addCompany Page!! </h2>				 
				</div></br></br>
				<div class="contentbar">
				<h1>Add job</h1></br>
			<form action="{{ url_for('addcompany') }}" method="post" autocomplete="off">
					<input type="text" name="Company_ID" placeholder="Enter Company_ID" class="textbox" id="Company_ID" required></br></br>
					<input type="text" name="Company_Name" placeholder="Enter Company_Name" class="textbox" id="Company_Name" required></br></br>
                    <input type="text" name="Industry" placeholder="Enter Industry" class="textbox" id="Industry" required></br></br>
                    <input type="text" name="Location" placeholder="Enter Location" class="textbox" id="Location" required></br></br>
                    <input type="text" name="Contact_Email" placeholder="Enter Contact_Email" class="textbox" id="Contact_Email" required></br></br>
                    <input type="text" name="Contact_Phone" placeholder="Enter Contact_Phone" class="textbox" id="Contact_Phone" required></br></br>
                    <input type="url" name="Website" placeholder="Enter Website" class="textbox" id="Website" required></br></br>
                    <input type="submit" class="btn" value="ADD" style="display: block; margin-top: 1%;">
			</form>				 
				</div>
				
			</div>
		</div>
	</body>
</html>
