<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>

<body class="bg-gray-200">
    <div class="flex justify-center items-center min-h-screen">
        <div class="text-center">
            <div class="mb-4">
                <img src="/static/WhatsApp Image 2024-03-14 at 13.36.43_f2ac61d0.jpg" alt="College Logo" class="mx-auto"
                    style="width: 150px;">
                <h1 class="text-3xl font-bold text-gray-800 mt-4">BANGALORE INSTITUTE OF TECHNOLOGY</h1>
                <p class="text-gray-600">Bangalore Institute of Technology,
                    K R Road, V V Pura, Bengaluru, Karnataka, India - 560004</p>
                <a href="https://bit-bangalore.edu.in/" class="text-blue-500 hover:underline">Visit our website</a>
            </div>
            <p class="text-lg mb-8  font-bold fade-in">LOGIN AS</p>
            <div class="flex justify-center space-x-4">
                <button onclick="window.location.href='/student'"
                    class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-full shadow-md float-in button-float-in">STUDENT
                    </button>
                <button onclick="window.location.href='/officer'"
                    class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-full shadow-md float-in button-float-in">OFFICER
                    </button>
                <button onclick="window.location.href='/teacher'"
                    class="bg-yellow-500 hover:bg-yellow-600 text-white py-2 px-4 rounded-full shadow-md float-in button-float-in">TEACHER
                    </button>
            </div>
        </div>
    </div>
</body>

</html>

