<!--'student dashboard.html'-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Student_Dashboard</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>

	<body bgcolor="#fff">
		<div class="one">
			<div class="two">
				<h1>TOOLS</h1>
				<ul>
					<li><a href="{{url_for('display')}}">My profile</a></li>
					<li><a href="{{url_for('update')}}">Update Details</a></li>
					<li><a href="{{url_for('jobs')}}">Jobs</a></li>
					<li><a href="{{url_for('myapplications')}}">My Applications</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in Student Dashboard!! </h2>				 
				</div></br></br>
				<div class="contentbar">
				</div>
				
			</div>
		</div>
	</body>
</html>
