<!--'update.html'-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>update status</title><!--'display.html'-->
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>TOOLS</h1>
				<ul>
					<li><a href="{{url_for('studentslist')}}">Students</a></li>
					<li><a href="{{url_for('allapplications')}}">Applications</a></li>
					<li><a href="{{url_for('interviews')}}">Interviews</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
					<li><a href="{{url_for('all_companies')}}">Companies</a></li>
					<li><a href="{{url_for('officer_jobs')}}">Jobs</a></li>
					<li><a href="{{url_for('addjob')}}">ADD Job</a></li>
					<li><a href="{{url_for('addcompany')}}">ADD company</a></li>
					<li><a href="{{url_for('addstudent')}}">ADD Student</a></li>
					<li><a>Result</a></li>
				</ul>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in update status Page!! </h2>				 
				</div></br></br>
				<div class="contentbar">
				<h1>Add job</h1></br>
			<form action="{{ url_for('update_status') }}" method="post" autocomplete="off">

			</form>				 
				</div>
				
			</div>
		</div>
	</body>
</html>
